@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-900 text-white font-sans;
}

/* small utility for accent */
.btn-accent {
  @apply bg-[color:var(--accent,#ff7b00)] text-black px-4 py-2 rounded-md font-semibold;
}
